.gallery .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4% 4%;
}

.galleryContainer {
    width: calc(100%/3 - 4%);
}

.galleryContainer2 {
    margin-right: 2%;
    margin-left: 2%;
}
