@media (max-width: 650px) {
    .navBarHome {
        ul {
            display: none;
        }
        .line {
            width: 35px;
            height: 5px;
            background-color: $solidWhite;
            margin: 6px 0;
        }   
        }
    .headerContent {
        flex-direction: column;
        .headerTitle {
            margin-right: 0px;
            h1 {
            font-size: 3rem;
            }
        }
    }
    .favContainer1 {
        position: none;
        top: 0px;
        flex-direction: column;
    }
    .favContainer2 {
        position: none;
        top: 0px;
        flex-direction: column;
    }
    .favTextContainer1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3% 0;
    }
    .favTextContainer2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3% 0;
    }
    .darkGreenBox , .greenBox {
        display: none;
    }
    .favImgContainer1 {
        margin-right: 0;
        margin: 3% 0;
        width: 70%;
    }
    .favImgContainer2 {
        margin-left: 0;
        margin: 3% 0;
        width: 70%;
    }

    .journey .wrapper {
        flex-direction: column;
        .journeyImgContainer {
            width: 100%;
            margin-right: 0%;
            margin-bottom: 5%;
            display: flex;
            justify-content: center;
        }
        .journeyTextContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
    .galleryContainer1 , .galleryContainer2 {
        width: 48%;
    }
    .galleryContainer3 {
        display: none;
    }
} 

