/* site fonts */
$heading: "Abril Fatface', cursive";
$paragraph: "Montserrat', sans-serif";

/* site colours */
$primary: #1f1f1f; 
$whiteShade: #f6f6f6;
$solidWhite:  white;
$accent: #e4a436; 
$green: #709b6b;
$darkGreen: #345231;

