/* site fonts */
/* site colours */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  color: #1f1f1f;
}

h1, h2, h3, h4 {
  font-family: "Abril Fatface', cursive";
  font-weight: bold;
}

h1, h2, h3, h4, p {
  color: #1f1f1f;
}

h1 {
  font-size: 4rem;
  color: #f6f6f6;
}

h2 {
  font-size: 2.1 rem;
}

h3 {
  font-size: 1.3125 rem;
}

h4 {
  font-size: 1.75;
  color: #f6f6f6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  font-family: "Montserrat', sans-serif";
  font-size: 1rem;
  color: #f6f6f6;
}

p {
  font-family: "Montserrat', sans-serif";
  font-size: 1rem;
}

button {
  font-family: "Abril Fatface', cursive";
  font-size: 1rem;
  font-weight: bold;
  padding: 1% 1%;
  color: black;
  background-color: #e4a436;
  border: 1px #e4a436 solid;
}

.button {
  font-family: "Abril Fatface', cursive";
  font-size: 1rem;
  font-weight: bold;
  padding: 1% 1%;
  color: black;
  background-color: #e4a436;
  border: 1px #e4a436 solid;
  width: 170px;
}

textarea, input {
  font-family: "Montserrat', sans-serif";
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: #345231;
}

.navBar {
  background-color: #345231;
  padding: 1%;
    position: sticky;
    top: 0;
    z-index: 30;
}

.navBar a {
  font-weight: bold;
  padding: 10px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerTitle {
  margin-right: 50px;
  position: relative;
}

.headerTitle img {
  position: absolute;
  left: -30px;
  top: -10px;
  width: 20%;
}

.navHome {
  color: #e4a436;
}

.navBar h2 {
  color: #f6f6f6;
}

.headerImgContainer {
  width: 35%;
  max-width: 480px;
}
.headerImgContainer img {
  position: relative;
  top: 20px;
  -webkit-box-shadow: 0.8rem 0.8rem white;
          box-shadow: 0.8rem 0.8rem white;
}

.about {
  background-color: #f6f6f6;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
}

.about p {
  margin-top: 2%;
  margin-bottom: 2%;
}

.about button {
  padding: 1% 1%;
  color: black;
  background-color: #e4a436;
}

.favThings {
  position: relative;
}

.favThings .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.favContainer1, .favContainer2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.favContainer1 {
  position: relative;
  top: -30px;
}

.favContainer2 {
  position: relative;
  top: 30px;
}

.favImgContainer1, .favImgContainer2 {
  width: 40%;
  z-index: 20;
}

.favImgContainer1 {
  margin-right: 10%;
}

.favImgContainer2 {
  margin-left: 10%;
}

.favTextContainer1, .favTextContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  height: 100%;
  z-index: 20;
}

.favTextContainer1 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.favTextContainer2 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.favThings .button {
  width: 130px;
}

.favThings p {
  margin-top: 4%;
  margin-bottom: 4%;
}

.greenBox {
  background-color: #709b6b;
  width: 100vw;
  height: 50%;
  left: -54%;
  top: -3%;
  position: absolute;
}

.darkGreenBox {
  background-color: #345231;
  width: 100vw;
  height: 50%;
  right: -60%;
  bottom: -10%;
  position: absolute;
}

.journey {
  background-color: #f6f6f6;
}

.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8%;
  padding-bottom: 8%;
  text-align: center;
}

.journeyTextContainer {
  width: 70%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5px;
}

.journeyImgContainer {
  width: 25%;
  margin-right: 5%;
}

.journeyImgContainer img {
  -webkit-box-shadow: 10px 10px #709b6b;
          box-shadow: 10px 10px #709b6b;
}

.journey p {
  margin-top: 2%;
  margin-bottom: 2%;
}

.flowerField img {
  max-height: 40vh;
  width: 100%;
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 4% 4%;
}

.galleryContainer {
  width: 29.3333333333%;
}

.galleryContainer2 {
  margin-right: 2%;
  margin-left: 2%;
}

.summary {
  background-color: #f6f6f6;
}

.summary .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.summaryContainers {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.summaryImgContainer {
  margin-right: 5%;
}

.summary p {
  margin-top: 2%;
}

.fa-solid {
  background-color: #e4a436;
  padding: 50%;
  border-radius: 50%;
}

footer {
  background-color: black;
  text-align: center;
}
footer p {
  color: #f6f6f6;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-size: 0.8rem;
}

.contactHeader {
  background-image: url(../assets/contact-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: none;
}
.contactHeader .contactTextContainer {
  position: relative;
  padding-top: 30%;
}
.contactHeader .contactTextContainer h1 {
  position: absolute;
  bottom: -20px;
}

.contactPage {
  background-color: #f6f6f6;
}
.contactPage .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.contactPage .wrapper .contactInfo {
  width: 30%;
  background-color: white;
  padding: 3% 0% 3% 3%;
  margin: 8% 0%;
}
.contactPage .wrapper .contactInfo .contactIcons {
  padding-bottom: 2%;
}
.contactPage .wrapper .contactInfo .fa-brands {
  padding-right: 8%;
  font-size: 1.2em;
}
.contactPage .wrapper .contactInfo .emailAddress {
  font-weight: bold;
  padding: 2% 0%;
}
.contactPage .wrapper .contactInfo p {
  line-height: 1.5rem;
}
.contactPage .wrapper form {
  width: 100%;
}
.contactPage .wrapper .contactForm {
  width: 65%;
  margin: 8% 0% 8% 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contactPage .wrapper .contactForm input {
  width: 48%;
  padding-bottom: 10%;
  border: none;
  margin-bottom: 5%;
}
.contactPage .wrapper .contactForm .contactName {
  margin-right: 4%;
}
.contactPage .wrapper .contactForm textarea {
  resize: none;
  width: 100%;
  border: none;
}
.contactPage .wrapper .contactForm button {
  width: 100%;
  margin-top: 3%;
}

@media (max-width: 600px) {
  .contactPage .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contactPage .wrapper .contactForm, .contactPage .wrapper .contactInfo {
    width: 100%;
    padding: 2 0;
    margin-left: 0;
  }

  .contactTextContainer h1 {
    font-size: 2.3rem;
  }

  .navBarContact ul {
    display: none;
  }
  .navBarContact .line {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }
}
.blogFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.leftBar {
  margin-right: 5%;
  margin-top: 5%;
  width: 30%;
}
.leftBar .blogAbout {
  padding: 8% 8%;
  background-color: white;
}
.leftBar .blogAbout h3 {
  margin-top: 3%;
  margin-bottom: 3%;
}
.leftBar .blogRecent {
  padding: 8% 8%;
  background-color: white;
  margin-top: 5%;
}
.leftBar .blogRecent h3 {
  margin-bottom: 3%;
}
.leftBar .blogRecent li {
  list-style: initial;
  color: black;
  margin-left: 10%;
}

.rightBar {
  margin-top: 5%;
  width: 65%;
}
.rightBar .mainPost {
  padding: 5% 5%;
  background-color: white;
  border-bottom: 5px solid #345231;
}
.rightBar .mainPost p {
  margin-top: 2%;
  margin-bottom: 2%;
}
.rightBar .comment {
  background-color: white;
  padding: 5% 5%;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.rightBar .comment .commentImg {
  width: 15%;
  margin-right: 2%;
}
.rightBar .comment .commentText {
  width: 83%;
}
.rightBar .secondComment {
  border-bottom: 5px solid #345231;
}
.rightBar .contactFormBlog {
  width: 100%;
  margin: 8% 0% 8% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.rightBar .contactFormBlog form {
  width: 100%;
}
.rightBar .contactFormBlog input {
  width: 46%;
  border: none;
  margin-bottom: 5%;
  padding: 3% 1%;
}
.rightBar .contactFormBlog .contactName {
  margin-right: 4%;
}
.rightBar .contactFormBlog textarea {
  resize: none;
  width: 100%;
  border: none;
  padding: 3% 1%;
}
.rightBar .contactFormBlog button {
  width: 100%;
  margin-top: 3%;
}

.blogPage {
  background-color: #f6f6f6;
}

@media (max-width: 650px) {
  .navBarBlog ul {
    display: none;
  }
  .navBarBlog .line {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }

  .blogFlex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .rightBar {
    margin-top: 5%;
    width: 100%;
  }

  .leftBar {
    margin-right: 5%;
    margin-top: 5%;
    width: 100%;
  }

  .contactTextContainer h1 {
    font-size: 3rem;
  }
}
@media (max-width: 650px) {
  .navBarHome ul {
    display: none;
  }
  .navBarHome .line {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
  }

  .headerContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headerContent .headerTitle {
    margin-right: 0px;
  }
  .headerContent .headerTitle h1 {
    font-size: 3rem;
  }

  .favContainer1 {
    position: none;
    top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .favContainer2 {
    position: none;
    top: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .favTextContainer1 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 3% 0;
  }

  .favTextContainer2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 3% 0;
  }

  .darkGreenBox, .greenBox {
    display: none;
  }

  .favImgContainer1 {
    margin-right: 0;
    margin: 3% 0;
    width: 70%;
  }

  .favImgContainer2 {
    margin-left: 0;
    margin: 3% 0;
    width: 70%;
  }

  .journey .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .journey .wrapper .journeyImgContainer {
    width: 100%;
    margin-right: 0%;
    margin-bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .journey .wrapper .journeyTextContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .galleryContainer1, .galleryContainer2 {
    width: 48%;
  }

  .galleryContainer3 {
    display: none;
  }
}
